doctype
html
  head
    meta(charset="utf8")
    title Final Fantasy XIII Experience Calculator
    link(rel="stylesheet" href="/style.css")
  body
    form#calculator
      fieldset#characters
        label
          | Character
          select(name="character")
            option(name="character" type="radio" value="Lightning") Lightning
            option(name="character" type="radio" value="Snow") Snow
            option(name="character" type="radio" value="Sazh") Sazh
            option(name="character" type="radio" value="Hope") Hope
            option(name="character" type="radio" value="Vanille") Vanille
            option(name="character" type="radio" value="Fang") Fang
      fieldset#weapon
        label
          | Weapon
          select(name="weapon")
      fieldset#experience
        label
          | Experience
          input(type="number" name="experience" min="0" value="0" placeholder="Experience")
        label
          | Multiplier
          select(name="multiplier")
            option(value="1") 1
            option(value="1.25") 1.25
            option(value="1.5") 1.5
            option(value="1.75") 1.75
            option(value="2") 2
            option(value="2.25") 2.25
            option(value="2.5") 2.5
            option(value="2.75") 2.75
            option(value="3" selected) 3
        table#multiplier
          thead
            tr
              th(colspan="3") Requirements for ×3 bonus
              td#mult-required
            tr
              th Quantity
              th Component
              th Total Price
              th Shop
          tbody
        table#upgrade
          thead
            tr
              th(colspan="3") Requirements for ★
              td#exp-required
            tr
              th Quantity
              th Component
              th Total Price
              th Shop
          tbody
    div#details
  script(src="/application.js")
