@font-face
  font-family 'OptimusPrinceps'
  src url('OptimusPrinceps.woff') format('woff'),
      url('OptimusPrinceps.svg#OptimusPrinceps') format('svg'),
      url('OptimusPrinceps.eot'),
      url('OptimusPrinceps.eot?#iefix') format('embedded-opentype')
  font-weight normal;
  font-style normal;

appearance(type)
  -webkit-appearance type
  -moz-appearance type

form
  border-radius 2em
  background-color transparentify(white, 0.5)
  box-shadow 0 0 1em white

fieldset
  border none
  label
    display block
    font-family 'OptimusPrinceps'

input, select
  border none
  background-color transparent
  appearance(none)
  &:focus
    outline none
    color blue
